@using DateTimeWebApp.ViewModels
@model DateTimeVm

<div class="text-center">
    <h2 class="display-4">Here is your local time displayed!</h2>
   <h1 class="display-4">@Html.DisplayFor(model => model.Date)</h1>
    <h2 class="display-4">Have a great day!</h2>
</div>
